* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(231, 231, 231);
  background: linear-gradient(
    145deg,
    rgba(231, 231, 231, 1) 3%,
    rgba(250, 250, 250, 1) 98%
  );
  font-family: "PT Sans Caption", sans-serif;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  font-family: "Open Sans", sans-serif;
}

.nav-item {
  text-align: center;
  padding-right: 1rem;
}

.nav-link {
  color: rgb(238, 124, 7) !important;
  font-size: 1.2rem;
  transition: color;
}

.nav-link:hover {
  color: rgba(31, 155, 55, 1) !important;
}

.btn-navbar {
  color: white;
  background-color: rgb(238, 124, 7);
}

.btn-navbar:hover {
  background-color: rgba(31, 155, 55, 1);
}

main {
  position: relative;
  width: 100%;
  margin-top: 5rem;
  align-items: center;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Martel Sans", sans-serif;
}

p {
  font-family: "PT Sans Caption", sans-serif;
}

button,
.btn {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 0px;
}

/* empieza inicio */

.contenedorIndex {
  width: 100%;
}

.section1 {
  height: 100vh;
  align-items: center;
  justify-items: center;
  color: white;
  background-image: url(./imagenes/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section1 .title {
  padding-left: 7rem;
}

.section1 h1 {
  font-size: 3.5rem;
  position: relative;
  bottom: 1.5rem;
  text-align: left;
}

.section1 p {
  font-size: 2rem;
  position: relative;
  bottom: 1rem;
  text-align: left;
}

.section1 button {
  font-size: 1.7rem;
  position: relative;
  right: 11rem;
  color: rgb(238, 124, 7);
  font-weight: bold;
  background-color: white;
}

.section1 button:hover {
  box-shadow: 2px 2px 5px rgb(161, 81, 0);
  background-color: rgba(31, 155, 55, 1);
}

.section1 img {
  width: 80%;
}

.section2 {
  padding: 4rem;
  color: rgb(78, 172, 49);
}

.section2 h2 {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}

.section2 .servicioGrid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "zero uno"
    "dos uno"
    "dos tres"
    ". tres";
  justify-items: center;
  align-items: center;
  width: 90%;
}

.section2 .uno {
  grid-area: uno;
  background: rgb(238, 124, 7);
  background: linear-gradient(
    145deg,
    rgb(226, 116, 5) 3%,
    rgb(252, 129, 7) 98%
  );
  color: white;
}

.section2 .dos {
  grid-area: dos;
  background: rgb(78, 172, 49);
  background: linear-gradient(
    145deg,
    rgba(78, 172, 49, 1) 3%,
    rgba(31, 155, 55, 1) 98%
  );
  color: white;
  margin-top: 4rem;
}

.section2 .tres {
  grid-area: tres;
  background: rgb(238, 124, 7);
  background: linear-gradient(145deg, rgb(58, 99, 128) 3%, rgb(44, 46, 85) 98%);
  color: white;
  margin-top: 3rem;
}

.servicio {
  width: 80%;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  transition-duration: 0.5s;
  transform: scale(1);
}

.servicio:hover {
  box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.38);
  transform: scale(1.03);
}

.servicio a {
  text-decoration: none;
  color: white;
}

.servicio h3 {
  margin: 1rem 0px;
  font-size: 2.2rem;
  font-family: "Martel Sans", sans-serif;
}

.servicio p {
  font-size: 1.2rem;
}

.servicio img {
  width: 40%;
  margin: 10px;
}

.servicio .buttonServicio {
  margin-top: 15px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(231, 231, 231, 0);
  border: 3px solid;
  border-color: white;
  width: 60%;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.servicio .buttonServicio:hover {
  width: 70%;
  padding-right: 33px;
  padding-left: 8px;
}

.servicio .buttonServicio:after {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(./imagenes/arrow_icon.png);
  background-size: cover;
  background-repeat: no repeat;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 22px;
  right: -40px;
  transition: 0.5s;
}

.servicio .buttonServicio:hover:after {
  opacity: 1;
  right: 55px;
}

.section3 {
  height: 100%;
  padding: 5rem 9rem;
  color: rgb(238, 124, 7);
  background-image: url(./imagenes/background1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section3 h2 {
  margin-bottom: 6rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}

.doula {
  align-items: center;
  justify-items: center;
  margin: 0px auto;
  color: white;
}

.doula p {
  line-height: 2rem;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.doula h3 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}

.section3 img {
  width: 90%;
}

.doula button {
  color: rgba(31, 155, 55, 1);
  background-color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.doula button:hover {
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.4);
  background-color: rgb(238, 124, 7);
}

/* termina inicio */

/* empieza contacto */

.containerContacto {
  padding-bottom: 3rem;
  padding-top: 1rem;
  background-image: url(./imagenes/background5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerContacto > .row img {
  width: 90%;
}

.containerContacto > .row {
  margin-top: 5rem;
}

.contactoPage {
  margin: 0 auto;
  color: white;
  padding: 2.5rem 0rem 2rem 3rem;
  margin-bottom: 2rem;
}

.contactoPage h1 {
  margin: 15px 0px;
  margin-right: 2rem;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
}

.contactoPage p {
  font-size: 1.2rem;
  text-align: justify;
}

form {
  padding: 0.5rem;
  text-align: left;
}

.btnContacto {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
  background-color: white;
  color: rgb(238, 124, 7);
}

.btnContacto:hover {
  background-color: rgb(78, 172, 49);
  color: white;
}

label {
  color: rgb(238, 124, 7);
}

.form-control {
  background-color: #fff;
  border: 1px solid #a35700;
  border-radius: 0.6rem;
}

.form-check {
  height: 3.5rem;
}

.form-select {
  color: rgb(238, 124, 7);
}

.form-check-label {
  color: white;
  font-size: 0.8rem;
}

/* termina contacto */

/* empieza servicios */

.serviciosBody {
  background: rgb(238, 124, 7);
  background: linear-gradient(
    145deg,
    rgb(226, 116, 5) 3%,
    rgb(252, 129, 7) 98%
  );
}

.serviciosPage {
  height: 100vh;
  padding: 0 5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.serviciosTitle {
  margin-bottom: 4rem;
}

.serviciosGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "one two three";
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.serviciosGrid .one {
  grid-area: one;
}

.serviciosGrid .two {
  grid-area: two;
}

.serviciosGrid .three {
  grid-area: three;
}

.serviciosPage h1 {
  margin-top: 7rem;
  font-size: 2.8rem;
  color: white;
}

.serviciosCard a {
  text-decoration: none;
  color: rgb(238, 124, 7);
  font-size: 1.2rem;
}

.serviciosCard h3 {
  margin: 10px 0px;
  padding: 0px 20px;
  font-size: 1.7rem;
}

.serviciosCard img {
  width: 35%;
  margin: 10px;
}

.serviciosCard {
  width: 100%;
  height: 75%;
  background-color: rgba(250, 250, 250, 1);
  padding: 2rem 1rem;
  border-radius: 1rem;
  transition-duration: 0.5s;
  transform: scale(1);
  margin-bottom: 8rem;
}

.serviciosCard:hover {
  box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.serviciosCard .buttonServicios {
  margin-top: 15px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 0px;
  background-color: rgb(238, 124, 7);
  color: white;
  width: 60%;

  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.serviciosCard .buttonServicios:hover {
  width: 70%;
  padding-right: 33px;
  padding-left: 8px;
}

.serviciosCard .buttonServicios::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(./imagenes/arrow_icon.png);
  background-size: cover;
  background-repeat: no repeat;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -20px;
  transition: 0.5s;
}

.serviciosCard .buttonServicios:hover:after {
  opacity: 1;
  right: 16px;
}

.seguridadGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "seguridadTitle seguridadTitle"
    "seguridadText1 seguridadImg1"
    "seguridadImg2 seguridadText2";

  justify-items: center;
  align-items: center;

  margin: 0px auto;
  background: rgb(78, 172, 49);
  background: linear-gradient(
    145deg,
    rgba(78, 172, 49, 1) 3%,
    rgba(31, 155, 55, 1) 98%
  );
  padding: 3rem 8rem;
  row-gap: 2rem;
  margin-top: 2.5rem;
}

.seguridadGrid .seguridadTitle {
  grid-area: seguridadTitle;
}

.seguridadGrid .seguridadText1 {
  grid-area: seguridadText1;
}

.seguridadGrid.seguridadImg1 {
  grid-area: seguridadImg1;
}

.seguridadGrid .seguridadImg2 {
  grid-area: seguridadImg2;
}

.seguridadGrid .seguridadText2 {
  grid-area: seguridadText2;
}

.socioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "socioTitle socioTitle"
    "socioText1 socioImg1"
    "socioImg2 socioText2";
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 3rem 8rem;
  row-gap: 4rem;
  margin-top: 2.5rem;
}

.socioGrid .socioTitle {
  grid-area: socioTitle;
}

.socioGrid .socioText1 {
  grid-area: socioText1;
}

.socioGrid .socioImg1 {
  grid-area: socioImg1;
}

.socioGrid .socioImg2 {
  grid-area: socioImg2;
}

.socioGrid .socioText2 {
  grid-area: socioText2;
}

.climaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 2fr 1fr;
  grid-template-areas:
    "climaTitle climaTitle"
    "climaText1 climaImg1"
    "climaImg2 climaText2"
    "climaText3 climaText3";

  justify-items: center;
  align-items: center;

  margin: 0px auto;
  background: rgb(78, 172, 49);
  background: linear-gradient(
    145deg,
    rgba(78, 172, 49, 1) 3%,
    rgba(31, 155, 55, 1) 98%
  );
  padding: 2rem 8rem;
  row-gap: 2rem;
  margin-top: 2.5rem;
}

.climaGrid .climaTitle {
  grid-area: climaTitle;
  margin-top: 4rem;
}

.climaGrid .climaText1 {
  grid-area: climaText1;
}

.climaGrid .climaImg1 {
  grid-area: climaImg1;
}

.climaGrid .climaImg2 {
  grid-area: climaImg2;
}

.climaGrid .climaText2 {
  grid-area: climaText2;
}

.climaGrid .climaText3 {
  grid-area: climaText3;
  width: 75%;
}

.servicioItem {
  width: 100%;

  color: white;
}

.servicioItem p {
  margin: 1.25rem 0px;
  line-height: 2rem;
  font-size: 1.2rem;
  text-align: justify;
}

.servicioItem ul {
  font-size: 1.2rem;
  margin: 20px 0px;
  text-align: left;
  margin-left: 6rem;
}

.servicioItem h3 {
  font-size: 1.5rem;
}

.servicioItem img {
  width: 70%;
  border-radius: 1rem;
}

/* termina servicios */

/* empieza nosotros */

.nosotrosPage h1 {
  padding-top: 5rem;
  margin-bottom: 3rem;
  font-size: 2.8rem;
}

.nosotrosPage {
  margin: 0 auto;
  color: white;
  width: 100%;
  height: 100%;
}

.nosotrosUno {
  background-image: url(./imagenes/background3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nosotrosUno p {
  margin: 2rem 0px;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 2.5rem;
  text-align: justify;
  font-size: 1.5rem;
}

.nosotrosUno h1 {
  margin-top: 1.5rem;
  font-size: 3rem;
  color: rgb(78, 172, 49);
}

.nosotrosUno img {
  width: 80%;
}

.nosotrosDos {
  padding-bottom: 5rem;
  background-image: url(./imagenes/background4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nosotrosDos h1 {
  font-size: 3rem;
  color: rgb(238, 124, 7);
}

.nosotrosDos p {
  margin: 2rem 0px;
  line-height: 2.5rem;
  text-align: justify;
  font-size: 1.5rem;
}

.nosotrosDos img {
  width: 60%;
  margin-right: 4rem;
}

/* termina nosotros */

/* empieza footer */

footer {
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "first last" "copyright copyright";
  bottom: 0;
  width: 100%;
  background: rgb(44, 44, 44);
  padding: 25px 0px 15px 0px;
  font-size: 1.3rem;
  color: white;
  justify-items: center;
  align-items: center;
}

footer .first {
  grid-area: first;
}

footer .last {
  grid-area: last;
}

footer .copyright {
  grid-area: copyright;
  font-size: 1rem;
}

.footerDiv {
  margin-bottom: 2rem;
  align-items: center;
}

footer ul {
  list-style: none;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

/* termina footer */

/* empieza responsive tablet */

@media screen and (max-width: 768px) {
  main {
    margin-top: 2rem;
  }

  .section1 {
    padding-top: 12rem;
  }

  .section1 .title {
    text-align: center;
    padding: 0 3rem;
  }

  .section1 h1 {
    font-size: 4.2rem;
    text-align: center;
  }

  .section1 img {
    width: 60%;
    padding-bottom: 1rem;
  }

  .section1 p {
    text-align: center;
    padding: 1rem 2rem 0.5rem 2rem;
    bottom: 2rem;
  }

  .section1 button {
    right: 0;
    bottom: 2rem;
  }

  .section2 .servicio {
    width: 92%;
    padding: 1.2rem 0.8rem;
  }

  .section2 .servicioGrid {
    width: 100%;
  }

  .servicio .buttonServicio {
    width: 75%;
  }

  .servicio .buttonServicio:hover {
    width: 80%;
  }

  .servicio .buttonServicio:hover:after {
    right: 14px;
  }

  .servicio h3 {
    font-size: 1.3rem;
  }

  .servicio .buttonServicio {
    font-size: 0.9rem;
  }

  .section3 {
    margin-bottom: 34rem;
    padding: 0px 6rem;
    padding-top: 4rem;
  }

  .section3 img {
    width: 80%;
    padding-top: 3rem;
    margin-top: 2rem;
  }

  .containerContacto > .row {
    margin-top: 7rem;
  }

  .contactoPage {
    width: 90%;
  }

  .containerContacto > .row img {
    padding-top: 2rem;
  }

  .nosotrosPage {
    padding: 7rem 2rem 5rem 2rem;
  }

  .nosotrosPage img {
    width: 70%;
  }

  .nosotrosPage h1 {
    padding-top: 10rem;
  }

  .nosotrosPage p {
    padding-left: 0;
  }

  .porque {
    padding-bottom: 2rem;
  }

  .serviciosPage h1 {
    margin-top: 9rem;
    font-size: 2.8rem;
    color: white;
  }
  .serviciosTitle {
    margin-bottom: 3rem;
  }
  .serviciosGrid {
    gap: 0.2rem;
  }

  .serviciosPage {
    height: 75vh;
    padding: 0 1rem;
    width: 100%;
  }

  .serviciosCard {
    width: 95%;
    padding: 1.5rem 0.7rem;
  }

  .serviciosCard h3 {
    font-size: 1.3rem;
  }

  .serviciosCard .buttonServicios {
    width: 68%;
  }

  .serviciosCard .buttonServicios:hover {
    width: 80%;
  }

  .serviciosCard .buttonServicios:hover:after {
    right: 14px;
  }

  .seguridadGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    padding: 3rem 3rem;
    row-gap: 1.3rem;
    margin-top: 2.5rem;
  }

  .seguridadGrid h2 {
    padding-top: 2rem;
  }

  .socioGrid {
    padding: 3rem 3rem;
    row-gap: 1rem;
    margin-top: 2.5rem;
  }

  .climaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr 1fr;
    grid-template-areas:
      "climaTitle climaTitle"
      "climaText1 climaImg1"
      "climaText2 climaText2"
      "climaImg2 climaImg2"
      "climaText3 climaText3";
    padding: 3rem 3rem;
    row-gap: 1rem;
    margin-top: 2.5rem;
  }

  .climaGrid .climaText3 {
    width: 100%;
  }

  .servicioItem img {
    width: 80%;
  }

  .servicioItem ul {
    margin: 1rem 0px 1rem 0px;
    margin-left: 1rem;
  }

  .servicioItem h3 {
    margin-top: 2rem;
  }
}

/* termina responsive tablet */

/* empieza responsive celular */

@media screen and (max-width: 480px) {
  .nav-item {
    padding-right: 0;
  }

  main {
    margin-top: 6rem;
  }

  .section1 {
    padding-top: 14rem;
    margin-bottom: 2.4rem;
  }

  .section1 h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

  .section1 p {
    font-size: 1.4rem;
    bottom: 3rem;
    padding: 2rem 0 0.5rem 0;
  }

  .section1 button {
    bottom: 3rem;
  }

  .section2 .servicioGrid {
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "uno" "dos" "tres";
    justify-items: center;
    width: 100%;
  }

  .section2 .servicio {
    width: 92%;
    margin-bottom: 2rem;
  }

  .section2 {
    padding: 3rem 4rem;
    height: 86rem;
    margin-bottom: 3rem;
  }

  .section2 h2 {
    line-height: 3.5rem;
    padding-bottom: 2rem;
  }

  .servicio .buttonServicio {
    width: 75%;
  }

  .servicio .buttonServicio:hover {
    width: 90%;
  }

  .section3 {
    height: 50rem;
    margin-bottom: 22rem;
    padding: 0px 1rem;
    padding-top: 3rem;
    color: white;
  }

  .section3 h2 {
    font-size: 2.3rem;
  }

  .doula {
    justify-content: center;
    padding: 0;
  }

  .doula p {
    margin: 2rem;
  }

  .doula h3 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .section3 img {
    width: 90%;
  }

  .containerContacto {
    padding-bottom: 5rem;
  }

  .containerContacto > .row img {
    margin-top: 0;
  }

  .contactoPage {
    width: 88%;
    padding: 2rem 2rem;
  }

  .contactoPage h1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .contactoPage p {
    font-size: 1rem;
  }

  .form-check {
    height: 6rem;
    text-align: justify;
  }

  .nosotrosPage {
    padding: 7rem 1.5rem 5rem 1.5rem;
    width: 90%;
  }

  .nosotrosPage h1 {
    line-height: 3.9rem;
    padding-top: 1rem;
  }

  .nosotrosPage img {
    width: 100%;
  }

  .porque {
    margin-top: 2rem;
    padding-bottom: 0;
  }

  .serviciosPage {
    height: 90rem;
    padding: 0 1rem;
    width: 100%;
  }

  .serviciosGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one" "two" "three";
    gap: 2rem;
  }

  .serviciosCard {
    margin: 0 auto;
    width: 75%;
    height: 100%;
    padding: 1rem 1rem;
  }

  .serviciosPage h1 {
    margin-top: 6rem;
    line-height: 4rem;
    margin-bottom: 0.5rem;
  }

  .seguridadGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 2fr 1fr;
    grid-template-areas:
      "seguridadTitle"
      "seguridadText1"
      "seguridadImg1"
      "seguridadText2"
      "seguridadImg2";

    padding: 2.5rem 2rem;
    row-gap: 0.2rem;
    margin-top: 2.5rem;
  }

  .seguridadGrid .seguridadTitle {
    padding-top: 6rem;
  }

  .seguridadGrid h2 {
    height: 12rem;
  }

  .servicioItem ul {
    margin-bottom: 10px;
  }

  .socioGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 1fr;
    grid-template-areas:
      "socioTitle"
      "socioText1"
      "socioImg1"
      "socioText2"
      "socioImg2";

    padding: 2.5rem 2rem;
    row-gap: 0.2rem;
    margin-top: 2.5rem;
  }

  .socioGrid .socioTitle {
    margin-top: 5rem;
  }

  .climaGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-areas:
      "climaTitle"
      "climaText1"
      "climaImg1"
      "climaText2"
      "climaImg2"
      "climaText3";

    padding: 2.5rem 1.5rem;
    row-gap: 0.2rem;
    margin-top: 2.5rem;
  }

  .climaGrid .climaTitle {
    margin-top: 5rem;
  }

  .servicioItem img {
    width: 85%;
  }

  .climaGrid .climaText3 {
    width: 100%;
  }

  footer {
    padding: 25px 20px 15px 20px;
    font-size: 1.2rem;
  }

  footer a {
    font-size: 1.2rem;
  }
}

/* termina responsive celular */
