footer {
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.5fr;
  grid-template-areas: "first last" "copyright copyright";
  bottom: 0;
  width: 100%;
  background: rgb(44, 44, 44);
  padding: 25px 0px 15px 0px;
  font-size: 1.3rem;
  color: white;
  justify-items: center;
  align-items: center;

  @media screen and (max-width: 480px) {
    padding: 25px 20px 15px 20px;
    font-size: 1.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: "first" "last" "copyright";
    justify-items: left;
    align-items: center;
  }

  .footerDiv {
    margin-bottom: 2rem;
    align-items: center;

    @media screen and (max-width: 480px) {
      margin-bottom: 0rem;
      align-items: center;
    }
  }

  ul {
    list-style: none;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;

    @media screen and (max-width: 480px) {
      font-size: 1.2rem;
    }
  }

  .first {
    grid-area: first;
  }

  .last {
    grid-area: last;
  }

  .copyright {
    grid-area: copyright;
    font-size: 1rem;
  }
}
