.nav-item {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  font-family: "Open Sans", sans-serif;
}

.nav-item {
  text-align: center;
  padding-right: 1rem;
}

.nav-link {
  color: $orange !important;
  font-size: 1.2rem;
  transition: color;
}

.nav-link:hover {
  color: $green !important;
}

.btn-navbar {
  color: white;
  background-color: $orange;
}

.btn-navbar:hover {
  background-color: $green;
}

@media screen and (max-width: 480px) {
  .nav-item {
    padding-right: 0;
  }
}
